<footer role="contentinfo">
  <a class="back-to-top-link back-to-top-link-moved" href="#" aria-hidden="true"></a>
  <nav class="footer-inner">
    <a class="nav-item" href="/about">About</a>
    <a class="nav-item" href="/bots">Bots</a>
    <a class="nav-item" href="/privacy">Privacy</a>
    <a class="nav-item" href="/api">API</a>
    <a class="nav-item" href="/companies">DMCA</a>
    <a class="nav-item" href="https://github.com/{{ .Site.Params.default.github }}">Contributing</a>
    <div class="disclaimer">
      <p>The Passkeys Directory is maintained by the non-profit <a href="/about">2factorauth</a> and hosted on <a
        href="https://github.com/{{ .Site.Params.default.github }}">GitHub</a>.</p>
      <p>The data is crowdsourced, and some data may be outdated.</p>
    </div>
  </nav>
</footer>
