{{ $a := (index . "region") }}
{{- range $id, $entry := index . "entries" -}}

<!-- Do region checks -->
{{ $region_excluded := slice }}
{{ $region_included := slice }}

{{range $region := index $entry "regions" }}
 {{ if hasPrefix $region "-" }}
  {{ $region_excluded = $region_excluded | append $region }}
 {{ else }}
   {{ $region_included = $region_included | append $region }}
 {{ end }}
{{ end }}

<!--
Explanation:
   if (
        ($a is null)
        OR
        ($region_included.length === 0 OR $region_included contains $a)
      )
      AND
      $region_excluded !contains ( "-" + $a ))
-->
{{- if (and (or (eq $a nil) (or (in $region_included $a) (eq (len $region_included) 0)))
       (not (in $region_excluded (printf "-%s" $a))))
-}}
{{ $supported := or (index $entry "mfa") (index $entry "passwordless") }}
  <!-- Display entry -->
  <div role="article" class="entry {{ if $supported }}green{{ else }}red{{ end }}" data-domain="{{- $entry.domain -}}">
    <div class="title">
        <a class="name" href="{{- with $entry.url -}}{{- . -}}{{- else -}}https://{{- $entry.domain -}}{{- end -}}" title="{{- htmlUnescape $entry.name -}}"><img class="logo" loading="lazy" src="{{ $.icon_path }}{{- with $entry.img -}}{{- substr . 0 1 -}}/{{ . }}{{- else -}}{{- substr $entry.domain 0 1 -}}/{{- $entry.domain -}}.svg{{- end -}}" aria-hidden="true" alt="">{{- htmlUnescape $entry.name -}}</a>
      {{ if index $entry "notes" }}<i class="note bi bi-exclamation-diamond-fill" tabindex="0" data-bs-toggle="popover" data-bs-content="{{ $entry.notes }}"></i>{{ end }}
    </div>
    {{- if $supported -}}
      <div class="docs">
        {{- if index $entry "documentation" -}}
          <a aria-label="documentation" class="website-doc" href="{{ $entry.documentation }}"></a>
        {{- end -}}
        {{- if index $entry "recovery" -}}
          <a aria-label="recovery documentation" class="recovery-doc" href="{{ $entry.recovery }}"></a>
        {{- end -}}
      </div>

      <ul aria-label="Passkey status" class="tfa-summary">
        {{- if index $entry "passwordless" -}}<li>Passwordless authentication</li>{{- end -}}
        {{- if index $entry "mfa" -}}<li>Passkey as MFA/2FA</li>{{- end -}}
      </ul>

      {{- if index $entry "passwordless" -}}<div class="{{ $entry.passwordless }}"></div>{{ else }}<div></div>{{- end -}}
      {{- if index $entry "mfa" -}}<div class="{{ $entry.mfa }}"></div>{{ else }}<div></div>{{- end -}}

    {{- else -}}
      <div class="tfa-summary"></div>

      <div class="contact" aria-label="Passkeys not supported">
          {{- if index $entry.contact "twitter" -}}<button class="contact-btn twitter" data-twitter="{{ $entry.contact.twitter }}"></button>{{- end -}}
        {{- if index $entry.contact "facebook" -}}<button class="contact-btn facebook" data-facebook="{{ $entry.contact.facebook }}"></button>{{- end -}}
        {{- if index $entry.contact "email" -}}<button class="contact-btn email" data-email="{{ $entry.contact.email }}"></button>{{- else -}}
        {{- if index $entry.contact "form" -}}<button class="contact-btn form" data-form="{{ $entry.contact.form }}"></button>{{- end -}}{{- end -}}
      </div>

    {{- end -}}
  </div>
  {{- end -}}
{{- end -}}
